tensorflow==1.15
tensorflow-privacy==0.5.0
tqdm
matplotlib
pandas 
sklearn 
more-itertools 
gensim==3.8.3
torch 
torchvision 
networkx 
notebook 
ipyplot 
jupyterlab 
statsmodels 
gdown 
annoy 
pyshark
scapy