{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

<section class="section">

    <div class="container">
        <div class="columns">

            <div class="section">


                <h3 class="title is-2">Visualization of Raw v.s. Synthetic data</h3>
                <div>
                    {% for dict in static_paths %}
                    <figure>
                        <img class='fig' src="{{url_for('static', filename = dict.path)}}" style="width:100%">
                        <figcaption>{{dict.caption}}<br></figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    {% endblock %}
    {% block scripts %}
    <script src="../static/js/scripts.js"></script>
    {% endblock %}