<section class="hero is-white">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/static/images/logo.png" alt="Flaskex_logo">
                <h6 href="/" class="subtitle"><strong>NetShare</strong></h6>
            </a>
            <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbar-menu-id" class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
</section>